<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Zap</string>
    <key>CFBundleDisplayName</key>
    <string>Zap</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>com.woosublee.zap</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Zap</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://woosublee.github.io/zap/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>AHxDbDyUOqSlujzhZxsiHr89OwuBOgBiacMlFdCHTHs=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>ZapBuildTag</key>
    <string>local-unknown</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Woosub Lee</string>
</dict>
</plist>
